// ==============================
// Custom style
// ==============================

.single h2 {
    margin-top: 1rem!important;
}
.header-logo img {
    [theme=dark] & {
        content: url("https://incloud.blog/img/global/incloud.blog%20logo%20white.png")!important;
        fill: $global-font-color-dark;
        width: 95px!important;
        padding-top: 6px;
        
    }
    content: url("https://incloud.blog/img/global/incloud.blog%20logo%20black.png")!important;
    width: 95px!important;
    padding-top: 6px;
}